body {
  background: url("./img/1681940910_turizm-pibig-info-p-gori-more-oboi-turizm-krasivo-10.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
.main_forblock1_block1 {
  width: 350px;
  height: 465px;
  border-radius: 5px;
  background: #000;
}
.main_forblock1_block1_logo {
  display: flex;
}
.main_forblock1_block1_logo_text {
  width: 111px;
  height: 29px;
  margin-top: 5px;
}
.main_forblock1_block1_logo_text_p1 {
  color: #FFF;
  font-family: Overpass Mono;
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.main_forblock1_block1_logo_text_p2 {
  color: #FFF;
  font-family: Overpass Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
}
.main_forblock1_block1_forinputs {
  display: flex;
  justify-content: center;
}
.main_forblock1_block1_forinputs_inputs {
  width: 278px;
  height: 372px;
  margin-top: 15px;
}
.main_forblock1_block1_forinputs_inputs_p1 {
  color: #FFF;
  font-family: Overpass Mono;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.main_forblock1_block1_forinputs_inputs_input1 {
  width: 274px;
  height: 24px;
  border-radius: 2px;
  background: #FFF;
  font-family: Overpass Mono;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  margin-top: 6px;
}
.main_forblock1_block1_forinputs_inputs_p2 {
  color: #FFF;
  font-family: Overpass Mono;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 13px;
}
.main_forblock1_block1_forinputs_inputs_input2 {
  width: 274px;
  padding-bottom: 200px;
  border-radius: 2px;
  background: #FFF;
  font-family: Overpass Mono;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  margin-top: 6px;
}
.main_forblock1_block1_forinputs_inputs_btn {
  margin-top: 24px;
  width: 278px;
  height: 37px;
  border-radius: 2px;
  background: #ffffff;
  color: #000000;
  transition-duration: 0.6s;
  font-family: Overpass Mono;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  border: none;
}
.main_forblock1_block1_forinputs_inputs_btn:hover {
  background: #8B8B8B;
  color: #ffffff;
  transition-duration: 0.6s;
}
.main_forblock2_block2 {
  width: 300px;
  height: 700px;
  border-radius: 5px;
  border: 2px solid #000;
  background: rgba(255, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(2.5px);
          backdrop-filter: blur(2.5px);
}
.main_forblock2_block2_block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 95px;
  border-radius: 2px;
  background: #000;
}
.main_forblock2_block2_block_p {
  color: #FFF;
  font-family: Overpass Mono;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.main_forblock2_block2_forbl2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
}
.main_forblock2_block2_forbl2_bl2 {
  width: 280px;
  height: 153px;
  background: #FFF;
}
.main_forblock2_block2_forbl2_bl2_p1 {
  color: #000;
  font-family: Overpass Mono;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 4px;
}
.main_forblock2_block2_forbl2_bl2_btn2 {
  background: none;
  border: none;
  position: absolute;
  margin-left: 240px;
  cursor: pointer;
}
.main_forblock2_block2_forbl2_bl2_p2 {
  color: #000;
  font-family: Overpass Mono;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 4px;
}
.main_forblock2_block2_forbl2_bl2_p3 {
  color: #000;
  font-family: Overpass Mono;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 4px;
}
.main_forblock2_block2_forbl2_bl2_p4 {
  color: #000;
  font-family: Overpass Mono;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 4px;
}
.main_forblock2_block2_forbl2_bl2_btn {
  width: 280px;
  height: 37px;
  transition-duration: 0.6s;
  background: #8B8B8B;
  color: #ffffff;
  margin-top: 40px;
  border: none;
  cursor: pointer;
  font-family: Overpass Mono;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.main_forblock2_block2_forbl2_bl2_btn:hover {
  transition-duration: 0.6s;
  background: #21871F;
  color: #FFF;
}
.main_forblock3_block3 {
  width: 300px;
  height: 700px;
  border-radius: 5px;
  border: 2px solid #000;
  background: rgba(255, 153, 0, 0.5);
  -webkit-backdrop-filter: blur(2.5px);
          backdrop-filter: blur(2.5px);
}
.main_forblock3_block3_block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 95px;
  border-radius: 2px;
  background: #000;
}
.main_forblock3_block3_block_p {
  color: #FFF;
  font-family: Overpass Mono;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.main_forblock4_block4 {
  width: 300px;
  height: 700px;
  border-radius: 5px;
  border: 2px solid #000;
  background: rgba(36, 255, 0, 0.5);
  -webkit-backdrop-filter: blur(2.5px);
          backdrop-filter: blur(2.5px);
}
.main_forblock4_block4_block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 95px;
  border-radius: 2px;
  background: #000;
}
.main_forblock4_block4_block_p {
  color: #FFF;
  font-family: Overpass Mono;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}/*# sourceMappingURL=style.css.map */